<html>
  <head>
    <!-- nav style (logo icon) -->
    <link rel="stylesheet" href="public/assets/css/navigation.css" type="text/css">
    <!-- nva sytle sheet (logo icon) -->
  </head>
<body>

  <div id="msg_stiker">
    <a href="#"><img src="/public/assets/icon/msg-e.png" border="0" width="40px" style="float:right;padding-left:;" title="Under Development" title="Under Development"></a>
  </div>





<!-- boody -->




<div id="fotter"><div id="inner_footer"> <hr color="#d0d0d0"></div>
  <p class="footer_links" align="center" >

  <a href="" class="footer_links">About ORG | </a>
  <a href="" class="footer_links">Press | </a>
  <a href=""  class="footer_links">Contacts | </a>
  <a href="nav" class="footer_links">Site Map </a>

</p>
 </div>
<!-- body -->


                       </div>



<!-- Drop Down -->

<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>


<!-- Drop Down -->
<!-- profile -->



<!-- Profile -->






</body>
</html>
