<html>
  <head>
    <style>

body{
  font-family: 'Product Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}

  </style>
    <!-- nav style (logo icon) -->
    <link rel="stylesheet" href="public/assets/css/navigation.css" type="text/css">
    <!-- nva sytle sheet (logo icon) -->

  </head>
<body>

  <div id="msg_stiker"><a href="#"><img src="/public/assets/icon/msg-e.png" border="0" width="40px" style="float:right;padding-left:;" title="Under Development" title="Under Development"></a></div>


<div id="target"style="height" >



<!-- nav -->

<div class="dropdown">


<img onclick="myFunction()" class="dropbtn" src="/public/assets/icon/icon_sq.png" border="0"width="50px" style="float:left;margin-left:;">

<!-- editor button -->
  <a href="#" title="Editor">
 <img  src="/public/assets/icon/icon_a_sq.png" border="0"width="40px" style="float:right;padding-left:20px;" title="Editor"></a>
 <!--end editor button -->

<div id="myDropdown" class="dropdown-content">

  <a id="this_page" href="nav">Library</a>

  <a href="#contact" title="Under Development">Community </a>
  <a href="#contact" title="Under Development">Explore </a>
</div>
</div>


<!-- nav -->

                                              <table style="width:80%;float:left;padding-left:9%;" >

                                                <tr style="background-color:#;height:48px;" >

                                                  <td>





                                                    </td>
                                                  <td>
                                                    <!-- profile -->




                                                      <img  src="/public/assets/icon/profile_1.png" border="0"width="40px" style="float:right;padding-right:40px;" title="Under Development">





                                                    <!-- proflie -->


                                                    <img src="/public/assets/icon/notification-b.png" border="0"width="48px" style="float:right;padding-right:20px;" title="Under Development">


                                                    </td>

                                                </tr>

                                              </table>
</div>







<!-- boody -->



<!-- body -->


                       </div>



<!-- Drop Down -->

<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>


<!-- Drop Down -->
<!-- profile -->



<!-- Profile -->






</body>
</html>
