<!DOCTYPE html>
<html>
<style>
</style>

<body>


<div id="wrapper">

   <div class="scrollbar" id="style-3">
      <div class="force-overflow" >



      <p class="Old_Book">

          On Monday, July 31, news broke that HBO had experienced a major cyberattack. As first reported by Entertainment Weekly, the hackers who executed the attack claimed to have acquired 1.5 terabytes of data from the network — allegedly including scripts and other content for the network’s marquee series, Game of Thrones.
          <br><br>
          The hackers made it one of their first orders of business to release unaired episodes of Ballers and Room 104 online. But they didn’t stop there, sending a cryptic and oddly worded email several to different members of the media that, per EW, read:
          <br><br>
          Hi to all mankind. The greatest leak of cyber space era is happening. What’s its name? Oh I forget to tell. Its HBO and Game of Thrones……!!!!!! You are lucky to be the first pioneers to witness and download the leak. Enjoy it & spread the words. Whoever spreads well, we will have an interview with him. HBO is falling.
          An alleged outline for the upcoming fourth episode of Game of Thrones’ seventh season began to circulate online shortly thereafter.
          <br><br>
          The hackers have yet to release any additional data, but they have promised that more content from the hack will be released periodically over the next few weeks.
          <br><br>
          What we know about the HBO hack so far
          HBO has confirmed that a cyberattack took place, both to news outlets and in internal statements. “The problem before us is unfortunately all too familiar in the world we now find ourselves a part of,” HBO Chair and CEO Richard Plepler wrote in an email to employees that was obtained by EW.<br><br>
          According to the Hollywood Reporter the FBI is investigating the incident, as is the cyber security firm Mandiant, which was also involved in investigating the 2014 Sony hacks.<br><br>
          If the hackers’ claim of stealing 1.5 terabytes of raw data is accurate, the HBO hack is roughly seven times larger than the 2014 Sony hack, which involved roughly 200 gigabytes of data.<br><br>
          Beyond the already released programming and Game of Thrones episode outline, it’s unclear exactly what else the hackers might have. One major concern is how much of the data might go beyond HBO programming to include company financial documents, employee emails, or the personal information of employees and customers. Emails were a major source of controversy in the Sony hack, as messages were made public that exposed the pay gap between Jennifer Lawrence and her male co-stars in<br><br> American Hustle, the movie Concussion being edited to save face with the NFL, and employees making racially charged jokes about President Barack Obama. Sony co-chairman Amy Pascal ultimately stepped down following the leaks.<br><br>
          According to Variety, an internet security company called IP Echelon has been tasked with scrubbing internet search results for the hacked files. The company reportedly sent a DMCA takedown notice to Google on Tuesday, August 1 to force the search engine to remove any links to leaked HBO files, which it said included “thousands of Home Box Office (HBO) internal company documents” and “masses of copyrighted items including documents, images, videos and sound.”<br><br><a name="indiv" href="#"><b>am here</b></a>
          HBO has told its staff that the company’s email system likely has not been compromised. On Wednesday, August 2, Plepler sent a memo to employees that stated “we do not believe that our e-mail system as a whole has been compromised, but the forensic review is ongoing.”<br><br>
          Someone going by the name of “Kind Mr. Smith,” who claims to have been involved the attack, sent an email to an unknown list of recipients that included the Hollywood Reporter. "HBO (specially Poor Richard) is Bluffing. We have 'STILL' full access to their webmails....," the email said, apparently commenting on Plepler’s email to HBO employees. The email also claimed that “Kind Mr. Smith” had “weeks” of negations with HBO regarding the stolen information. “They broke their promises<br><br> and want to play with us,” the email says. It is unconfirmed as to whether the sender was indeed involved in the hack, but some have noted that the email is written in the same caustic tone as the original message sent to select press, which feels like something out of an early 2000s hacker film.<br><br>
          Fitting with the hacker flick narrative, in that same email “Kind Mr. Smith” explained the motivation behind the attack by saying, “It's just about money.” However, the Hollywood Reporter has stated that according to its sources, there was no ransom demand.<br><br>
          “Kind Mr. Smith” has promised to release more content from the hack on Sunday, August 6, and has stated that leaks will continue to occur periodically over the coming weeks. But again, it is unconfirmed as to whether “Kind Mr. Smith” was actually involved in the hack; according to the Hollywood Reporter, the person emailing under that name offered proof of involvement that amounted to two items that had already been “circulating on the internet for days.”<br><br>
          On Friday, August 4, the fourth episode of Game of Thrones’ seventh season leaked online, two days before its debut. However, the leak was not connected to the hack, and instead involves HBO’s distribution partner, Star India.<br><br>
          What we don’t know<br><br>
          Exactly what was included in the 1.5 terabytes of stolen data that the hackers claim to have acquired, beyond what has already been posted online.
          The nature of what — if anything — will be released on Sunday, August 6.
          The identities of the hacker(s).<br><br>
          Whether the person emailing reporters under the name “Kind Mr. Smith” was actually involved in the hack.
          Whether there is a definitive motive for the hack, or whether any ransom demands have been made.

          </p>


</div>
    </div>

</div>
<a href="#indiv"><b>you gata click me<b></a>
</body>
</html>
