body{
    background: white;
    font-family: tahoma;
    color: black;
}

input[type="text"]{
    width: 60px;
    padding: 20px;
    background:#181c22;
    border: 0;
    float: ;
    font-size: 0.7em;
    color: #989898;
}

button{
    padding: 3px;
    width: 50px;
    float: left;
    background: #00af71;
    border: 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-size: 20px;
    border-radius: 1px;
    margin: 20px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: -90px;
}

li{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Quicksand Regular 100', sans-serif;
    word-spacing:0.5px ;
    letter-spacing: 0.5px;
    color: #464646;
    font-size: 0.8em;
    line-height: 1.5;
    cursor: pointer;
    letter-spacing: 1px;
}

li:hover{
    text-decoration: ;
    background: #F2F2F2;
}

h1{
    background: url(/public/assets/logo.png) no-repeat center;
    margin-bottom: 0;
    text-indent: -10000px;
}

/*  textarea    */
textarea:focus {
  background: white;
  outline: inherit;
  border-color: white;
  color:gray;

}
textarea {
    resize:none ;
    width: 100%;
    padding: 20px;
    border-radius: 2px;
    background: #ebebeb; /* gray */
    color:black;
    border-color: white;
    font-size: 0.8em;
    border-color: #ebebeb;

  }
  input[type=submit]:hover {

}

/*  textarea    */
