<html>
<head>
  <style>

  </style>
  <!--fonts-->
  <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:500" rel="stylesheet">
  <!--fonts-->
  <!-- styles translations -->

  <link rel="stylesheet" type="text/css" href="/public/assets/styles_tr.css">

  <!-- styles translations -->

</head>
<body>

    <div id="Old_book">


              <ol>
                <li><a href="#">On June 17, 1885, the Statue of Liberty arrived in New York Harbor, ready to serve as a powerful new national symbol. It marks the 130th anniversary of France delivering the statue to the United States.</a>

              </li>
                <li><a href="#">But when the statue reached New York, it wasn't certain that it would ever have a place to stand. That's because the pedestal was in the middle of an early crowdfunding campaign — years before the internet was a figment in anybody's imagination.</a></li>
                <li><a href="#">With the rise of platforms like Kickstarter, Indiegogo, and Patreon, it's tempting to think of crowdfunding as an internet-only phenomenon. But the concept goes back a lot further than that.</a></li><li><a href="#">With the rise of platforms like Kickstarter, Indiegogo, and Patreon, it's tempting to think of crowdfunding as an internet-only phenomenon. But the concept goes back a lot further than that.</a></li>
              </ol>


        </div>
</body>
</html>
